<div class="content-center">
    <div class="shop-manager">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a href="" class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/shopping-lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>
            </div>
            <button class="button is-primary has-text-white" routerLink="/new-list"><i class="fas fa-plus"></i> &nbsp; Add New List</button>
            <button class="button is-warning has-text-white" routerLink="" (click)="logout()" style="margin-top:10px"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</button>
        </div>
        <div class="items-list-container has-background-light">
            <div *ngIf="listId">
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Shopping Items
                    </h1>

                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true">
                            <span class="icon is-small">
                            <i class="fas fa-cog" aria-hidden="true"></i>
                            </span>
                        </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" [routerLink]="['/edit-list', listId]">
                                    Edit
                                </a>
                                <a class="dropdown-item has-text-danger" (click)="deleteList()">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="shopping-item" *ngFor="let item of items" (click)="completeItem(item)" [ngClass]="{ 'completed': item.completed }">
                    <div class="shopping-item-text">
                        <p>
                            <strong>Item: </strong>
                            {{ item.title }} 
                            <strong>Price: </strong>
                            {{ item.price }} din.
                        </p>
                    </div>
                    <div class="shopping-item-buttons">
                        <button class="button is-danger" (click)="deleteShoppingItem(item)" style="margin-right:10px">
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </button>
                        <button class="button is-info" [routerLink]="['/shopping-lists', listId, 'edit-shopping-item', item._id]">
                            <div class="icon">
                                <i class="fas fa-edit"></i>
                            </div>
                        </button>
                    </div>                  
                </div>
    
                <div *ngIf="!items">
                    <h3 class="empty-state">
                        This shopping list is empty. Click + button to add a new item.
                    </h3>
                </div>
            </div>
            <div *ngIf="!listId"> 
                <h3 class="empty-state">
                    Please select shopping list from the left menu.
                </h3>
            </div>
            <button class="circle-add-button button is-primary" routerLink="./new-shopping-item">
                <img src="../../../assets/img/plus.svg" alt="">
            </button>
        </div>
    </div>
</div>
